.vscode/
.venv/
node_modules/
dist/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Rust / Tauri / Vite
/target/
/crates/*/target/
/src-tauri/target/
/src-tauri/gen/schemas/
